@font-face {
   font-family: 'Open Sans';
   src: url(fonts/os.ttf) format('truetype');
}
@font-face {
   font-family: 'Open Sans';
    src: url(fonts/osb.ttf) format('truetype');
   font-weight: bold;
}
@font-face {
   font-family: 'Open Sans';
   src: url(fonts/osi.ttf) format('truetype');
   font-style: italic;
}
